{% extends "base.html" %}
{% block title %}Complete{% endblock title %}
{% block content %}
    <div class="container">
        <h1>Completed Todos</h1>
        <div class="complete-list">
            <ul>
                {% for todo  in todos  %}
                    <li><a href="#">
                        <h3>{{todo.title}}</h3>- <p>completed on {{todo.datecompleted}}</p>
                        </a>
                    </li>
                {% endfor %}
                

            </ul>
        </div>
        
    </div>
{% endblock content %}
